<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script>
      htmx.logAll();
    </script>

    <!-- Plotly JS -->
    <script
      src="https://cdn.plot.ly/plotly-3.1.0.min.js"
      charset="utf-8"
    ></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Home Page</title>
  </head>

  <body class="bg-light">
    <!-- https://www.w3schools.com/bootstrap5/bootstrap_flex.php -->
    <div class="d-flex" style="min-height: 100vh">
      <!-- Sidebar container (loaded via HTMX) -->
      <div
        id="sidebar-container"
        hx-get="/sidebar"
        hx-trigger="load"
        hx-swap="innerHTML"
        style="min-width: 250px"
        class="bg-light border-end"
      >
        <div class="p-3">Loading sidebar...</div>
      </div>

      <div class="flex-grow-1 p-4">
        <div class="container">
          <h1 id="title" class="text-center mb-4">
            Australia Bureau of Statistics Data Visualiser
          </h1>

          <!-- Plot containers -->

          <div
            id="sample"
            hx-get="/plot/line/cpi"
            hx-trigger="load"
            hx-swap="innerHTML"
            class="mb-5"
          ></div>
          <!-- All dataflow table -->
          <h5 id="table_title" class="text-center mb-4">ABS Available Data</h5>
          <table
            class="table table-striped"
            style="position: sticky; top: 0; z-index: 10"
          >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Agency ID</th>
              </tr>
            </thead>
            <tbody
              id="table_abs_dataflow"
              hx-get="/abs_dataflow/"
              hx-trigger="load"
              hx-target="this"
              hx-swap="innerHTML"
            ></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
